<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.jeongmini.project.post.sympathy.dao.SympathyDAO">

	<insert id="insertSympathy" parameterType="map">
		INSERT INTO `sympathy`
 		( 
 			`userId`
 			, `postId`
 			, `createdAt`
		)
		VALUES 
		(
			#{userId}
			, #{postId}
			, now()
		)
	</insert>
	
	<select id="selectCountSympathy" parameterType="map" resultType="int">
		SELECT
			COUNT(1)
		FROM
			`sympathy`
		WHERE
			`userId` = #{userId} AND
			`postId` = #{postId}
	</select>
	
	<select id="selectCountSympathyByPostId" parameterType="map" resultType="int">
		SELECT
			COUNT(1)
		FROM
			`sympathy`
		WHERE
			`postId` = #{postId}
	</select>
	
	<select id="selectSympathyUserId" parameterType="map" resultType="com.jeongmini.project.post.sympathy.model.Sympathy">
		SELECT
			`userId`
 			, `postId`
 			, `createdAt`
		FROM
			`sympathy`
		WHERE 
			`postId` = #{postId}
	</select> 
	
	<delete id="deleteSympathy" parameterType="map">
		DELETE FROM `sympathy`
		WHERE
			`userId` = #{userId} AND
			`postId` = #{postId}
	
	</delete>
	
	<delete id="deletePostSympathy" parameterType="map">
		DELETE FROM `sympathy`
		WHERE
			`postId` = #{postId}
	</delete>
	
</mapper>