<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.jeongmini.project.user.dao.UserDAO">
	 <select id="selectUser" parameterType="map" resultType="com.jeongmini.project.user.model.User">
	 	SELECT
	 		`id`
	 		,`name`
	 		,`password`
	 		,`email`
	 		,`petName`
	 		,`createdAt`
 			, `updatedAt`
		FROM
			`user`
		WHERE
			`email` = #{email}
 			AND `password` = #{password}
	 </select>
	 
	 <insert id="insertUser" parameterType="map">
	 	INSERT INTO
 			`user`
 		(
 			`name`
 			, `password`
 			, `email`
 			, `petName`
 			, `createdAt`
 			, `updatedAt`	
 		) VALUES (
 			#{name}
 			, #{password}
 			, #{email}
 			, #{petName}
 			, now()
 			, now()
 		)
	 </insert> 
	 
	  <select id="countUserName" resultType="int" parameterType="string">
	 	SELECT
			COUNT(1)
		FROM
			`user`
		WHERE
 			`name` = #{name}
	 </select>
	 
	 <select id="countUserEmail" resultType="int" parameterType="string">
	 	SELECT
			COUNT(1)
		FROM
			`user`
		WHERE
 			`email` = #{email}
	 </select>
	 
	  <insert id="insertMypet" parameterType="map">
	 	INSERT INTO
 			`mypet`
 		(
 		 	`userId`
 			,`userName`
			,`petName`
			, `petBirthday`
			, `petGender`
			, `imagePath`
 			, `createdAt`
 			, `updatedAt`	
 		) VALUES (
 			#{userId}
 			, #{userName}
 			, #{petName}
 			, #{petBirthday}
 			, #{petGender}
 			, #{imagePath}
 			, now()
 			, now()
 		)
	 </insert> 
	 
	  <select id="selectMyPet" parameterType="int" resultType="com.jeongmini.project.user.model.MyPet">
	 	SELECT
	 		`id`
	 		,`userId`
 			,`userName`
			,`petName`
			, `petBirthday`
			, `petGender`
			,`imagePath`
 			, `createdAt`
 			, `updatedAt`	
		FROM
			`mypet`
		WHERE
			`userId` = #{userId}
	 </select>
	 
	 <update id="UserUpdate" parameterType="map">
	 	UPDATE
	 		`user`
	 	SET
	 		`name` = #{name}
	 		,`password` = #{password}
	 	WHERE
 			`id` = #{id}
	 </update>
	 
 </mapper>